---
import Social from '../components/Socials.astro';
---

<head>
    <style>
        body{
            position: relative;
            min-height: 100vh;
            padding-bottom: 100px;
            

        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 10px;
            display: absolute;
            gap: 1rem;
            margin-top:2rem;
            
        }

        .footer-flex{
            position: relative;
            margin-top: auto;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<footer>
  <p>Learn more about my projects on some future links, coming soon!</p>
  <Social platform = "Twitter" username = "Danielk3922"/>
  <Social platform = "GitHub" username = "Boisey11"/>
  <Social platform1 = "LinkedIn" username1 =  "kao-daniel" />
</footer>